html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: black;
  color: white;
}

.container {
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.onetext {
  font-size: 4rem;
}

.oneface {
  font-size: 2rem;
  color: #e3bae8;
}

.two {
  font-size: 1.7rem;
}

.three p {
  font-size: 2rem;
}

.four p {
  font-size: 3rem;
  color: yellow;
}

.five p {
  position: absolute;
  left: 0;
  right: 0;
}

.idea-4 {
  font-size: 4rem;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.idea-3 {
  font-size: 3rem;
}

.smiley {
  font-size: 3rem;
}

.texti5 {
  font-size: 3rem;
  color: yellow;
}

.idea-6 span {
  display: inline-block;
}

.idea-5 span {
  display: inline-block;
  margin-right: 25px;
}

.textwm {
  font-size: 2rem;
  font-weight: lighter;
}

.idea-6 span {
  font-size: 15rem;
}

.seven p, .eight p {
  font-size: 5rem;
}

.six p {
  font-size: 2.5rem;
}

.textw1 {
  color: yellow;
}

.textw2 {
  color: green;
}

.textw3 {
  color: pink;
}

.nine p {
  font-size: 2rem;
  line-height: 3.5rem;
}

.tenText {
  font-size: 2rem;
  line-height: 3rem;
}

.troll {
 font-size: 1.5rem;
 font-weight: lighter;
}

.textFinal {
  color: yellow;
  font-size: 2.5rem;
}

.last-smile {
  font-size: 3rem;
}

.sign {
  justify-content: flex-end;
  padding: 0px 25px;
  text-align: right;
  align-items: center;
}

.sign p {
  color: rgb(50, 50, 50);
  font-size: 1rem;
}